body{
    background-color: #C5CAE9;
}

h3{
    text-align: center;
}

.jumbotron{
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.table{
    margin-top: 20px;
}


.selecionado{
    background-color: #CFD8DC;
}

.negrito{
    font-weight: bold;
}